body {
    background: #f1f1f1;
}

.btn {
    box-shadow: 0 1px 0 #0073aa,0 0 2px 1px #33b3db;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
    background: #0085ba;
    border-color: #006799;
    color: white;
}

.btn:hover {
    color: white;
    background: #008ec2;
}

.logo span {
    display: inline-block;
    padding: 12px 15px 12px 15px;
    width: 160px;

    color: white;
    border: 0px solid transparent;
    -webkit-transition: background 0.5s; /* Safari prior 6.1 */
    transition: background 0.5s;
    text-decoration: none;
    background: #19194a;
    text-align: center;
}

.admin-menu {
    float: left;
    height: 700px;

    width: 160px;
    background: #19194a;
}

.admin-menu .menu1 {
}

.admin-menu a {
    display: block;
    padding: 12px 5px 12px 5px;

    color: #c6c6d2;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: color 0.5s; /* Safari prior 6.1 */
    transition: color 0.5s;
    text-decoration: none;
}

.admin-menu a:hover {
    color: #eee;
}

.admin-menu a.clicked {
    color: white;
}

.admin-footer {
    background: white;
    border-top: 1px solid #d9d9d9;
}

.admin-footer .admin-footer-copyright {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    vertical-align: top;
}

.admin-footer .admin-footer-right {
    float: right;
    padding: 10px 15px 10px 15px;
}

.content {
    margin: 0px 0 0 160px;
    padding: 0 0 0 0px;

    background: #f1f1f1;
}

.content-header {
    padding: 20px;
    background: white;
}

.content-emp {
    height: 600px;
}

.content .form1 {
    padding: 10px;

    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.content .form1 input,.content .form1 textarea,.content .form1 select {
    padding: 5px;
    margin: 2px 6px 13px 0;
    width: 100%;

    color: #32373c;
    font-size: 18px;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    outline: 0;
    border: 1px solid #ddd;
}

.content .custPic {
    width: 150px;
}

.content .leaveMessage {
    padding: 10px;

    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.content .leaveMessage textarea {
    padding: 5px;
    margin: 2px 6px 13px 0;
    width: 100%;

    color: #32373c;
    font-size: 18px;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    outline: 0;
    border: 1px solid #ddd;
}

.content .table1 {
    padding: 10px;
    width: 100%;

    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.content .table1 td {
    padding: 5px;
}

.content .table1 thead td {
    color: #444;
}

.content .table1 tbody {
    background: #f9f9f9;
}

.content .table1 tbody td a {
    padding: 3px;
}


.content .paginationCenter {
    text-align: center;
}

.content .pagination {
    margin: 15px;
    width: 95%;

}

.content .pagination label {
    margin: 0;
    padding: 5px;

    color: #2e6d84;
    border: 1px solid #23282d;
}

.content .pagination a {
    padding: 5px 5px 7px 5px;

    color: white;
    background: #23282d;
    border: 1px solid #23282d;
}

.content .pagination a:hover {
    color: #2e6d84;
    background: white;
}

.content .nav {
    text-align: right;
    margin: 0px 0px 20px 0px;
}

.content .nav .importCSV {
    display: none;
}

.content h5 span {
    display: inline-block;
    padding: 1px 8px 3px 10px;

    font-size: 20px;
    color: #eeeeee;
    background: #0086b3;
}

.content .schematic {
    width: 400px;
}
